<!DOCTYPE html>
<html>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">GigaCover Backend Assignment</a>
      </h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name : </label>
         <input type = "text" name = "name" placeholder = "Case Sensitive" /><br>
         <label for = "birthday">Birthday (yyyy/mm/dd) : </label>
         <input type = "text" name = "dob" placeholder = "Date of Birth" /><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>